<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834152045747-5ioq906pb2l4blvpt27opbg6r952b02h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834152045747-5ioq906pb2l4blvpt27opbg6r952b02h</string>
	<key>API_KEY</key>
	<string>AIzaSyCgc1_A92Lb5-6Nv6RYUR0p_b0qjs-v7Uo</string>
	<key>GCM_SENDER_ID</key>
	<string>834152045747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.speechtranslator</string>
	<key>PROJECT_ID</key>
	<string>translator-ea21f</string>
	<key>STORAGE_BUCKET</key>
	<string>translator-ea21f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834152045747:ios:6a0f3080c02d1d38c524c6</string>
</dict>
</plist>